* {
    margin :0;
    padding : 0;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top : 15px;
}

.profilepicture {
    height: 280px;
    width: 400px;
    margin: 0 auto;
}
.picture {
    height:100%;
    width: 100%;
}

#ID{
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

#Desc{
    font-size: 1.2em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

#Address{
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
}

.socialmedia{
    width:100%;
    margin: 0 auto;
}

a {
    margin-left: 20%;
}

.logo{
    width :30px;
    height : 30px;
}

.text{
    text-align: center;
    height :20px;
}

.contact, .nodeco{
    background-color: black;
    height: 50px;
    text-align: center;
    font-weight: 300;
    
}

.contact:hover{
    background-color: grey;
}

.nodeco{
    text-decoration: none;
    color :white;
    text-align: center;
    margin : 0 auto;

}

table {
    box-shadow: 30px;
    margin : 0 auto;
}